---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("post");
const meta = {
  title: "Hieu Do's blog",
  description:
    "Hieu Do's blog, a place where I share my thoughts and ideas about web development, productivity and other things.",
};
---

<html>
  <BaseLayout meta={meta}>
    <main
      class="min-h-screen antialiased bg-gray-700 text-white mx-auto w-full max-w-2xl px-4"
    >
      <div class="divide-y divide-gray-200 dark:divide-gray-700">
        <div class="text-center space-y-2 py-6 md:space-y-5">
          <div
            class="flex flex-col items-center mr-3 text-sm text-gray-900 dark:text-white"
          >
            <div class="inline-flex items-center">
              <img
                class="mr-4 w-16 h-16 rounded-full"
                src="https://avatars.githubusercontent.com/u/37623000?v=4"
                alt="Hieu Do"
              />
              <h1
                class="text-2xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-3xl sm:leading-10 md:text-5xl md:leading-14"
              >
                Hieu Do's blog
              </h1>
            </div>

            <div class="mt-4 flex flex-col text-left">
              <p class="text-base font-light text-gray-500 dark:text-gray-400">
                I share my thoughts about web development and other things.
              </p>
              <p
                class="italic text-base font-light text-gray-500 dark:text-gray-400"
              >
                Software Engineer, Front-end developer at OCG.
              </p>
            </div>
          </div>
          <p class="text-lg leading-7 text-gray-500 dark:text-gray-400"></p>
        </div>
        <ul class="divide-y divide-gray-200 dark:divide-gray-700">
          {!posts.length && "No posts found."}
          {
            posts.slice(0, 10).map((frontMatter) => {
              const {
                slug,
                data: { date_published, title, summary, tags },
              } = frontMatter;
              return (
                <li class="py-12">
                  <article>
                    <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
                      <dl>
                        <dt class="sr-only">Published on</dt>
                        <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                          <time dateTime={date_published}>
                            {date_published.toLocaleDateString("en-US", {
                              year: "numeric",
                              month: "long",
                              day: "numeric",
                            })}
                          </time>
                        </dd>
                      </dl>
                      <div class="space-y-5 xl:col-span-3">
                        <div class="space-y-6">
                          <div>
                            <h2 class="text-2xl font-bold leading-8 tracking-tight">
                              <a
                                href={`/posts/${slug}`}
                                class="text-gray-900 dark:text-gray-100"
                              >
                                {title}
                              </a>
                            </h2>
                            <div class="flex flex-wrap">
                              {tags.map((tag) => (
                                <p text={tag} />
                              ))}
                            </div>
                          </div>
                          <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                            {summary}
                          </div>
                        </div>
                        <div class="text-base font-medium leading-6">
                          <a
                            href={`/posts/${slug}`}
                            class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                            aria-label={`Read "${title}"`}
                          >
                            Read more &rarr;
                          </a>
                        </div>
                      </div>
                    </div>
                  </article>
                </li>
              );
            })
          }
        </ul>
      </div>
    </main>
  </BaseLayout>
</html>
